.card {
    width: 250px;
    background: rgb(95, 34, 34);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 10px;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  